<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- properties loading -->
    <context:property-placeholder location="classpath:org/blackbox/bricksole/example/main.properties"/>

    <!--
        create command context with a ConfigurableCommandContext. It is important to call as
        init method the configure.
        In this example the commands are passed as a map.
     -->
    <bean id="commandContext" class="org.blackbox.bricksole.ConfigurableCommandContext" init-method="configure">
        <constructor-arg>
            <!-- map of command names to command objects -->
            <map>
                <entry key="${command.version.name}" value-ref="versionCommand"/>
            </map>
        </constructor-arg>
    </bean>

    <!-- here some command declarations -->
    <bean id="versionCommand" class="org.blackbox.bricksole.example.VersionCommand">
        <constructor-arg value="${command.version.message}"/>
    </bean>

</beans>